.home-graph-container {
  & .home-graph__title {
    text-align: center;
    & h2 {
      text-transform: capitalize;
    }
  }
  & .home-graph__data {
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;
    .home-graph__graph {
      grid-column: 4 / 5;
      min-width: 500px;
    }
  }
}
